body{
  text-align: center;
  display: flex;
  flex-direction: column;
}
.tile{
  border: 2px solid black;
}
.tileNum{
  font-family: "sans-serif";
  font-size: 32pt;
}
.movablePiece{
  border-color: red;
  text-decoration: underline;
  color: #006600;
}



/* for validator icons */
footer{
  text-align: right;
}
